div.doneButton {
  display : inline-block;
  padding : 4px;
  margin-left : 5px;
  color : red;
  font-weight : bold;
  position: absolute;
  right: 30px;
  
}

div.doneButton:hover {
  transform : scale(2);
  cursor : pointer;
}
